html {
    font-family: cursive;
}

body {
    display: grid;
    place-items: center;
    font-size: 150%;
    background-image: linear-gradient(180deg, rgb(115, 115, 115) 20%, rgb(230, 230, 230) 89%);
}   

nav {
    display: flex;
    justify-content: center;
}

.main_div {
    background-color: rgb(255, 116, 116);
    border-radius: 30px;
    border: 5px solid black;
    padding: 100px;
    padding-top: 20px;
    margin: 50px;
    box-shadow: 10px 10px 20px 10px;
}


section {
    display: grid;
    place-items: center;
    background-color: rgba(128, 236, 255, 0.956);
    border-radius: 40px;
    border: 3px solid black;
    padding: 60px;
    margin: 40px;
    box-shadow: 10px 10px 15px 5px;
}

#skill {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#skill .main_ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;  
}

#skill .main_li {
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px;
}

p {
    line-height: 0.4;
}

p:hover {
    font-size: 120%;
}

li {
    font-size: 20px;
    line-height: 2.5;
}

a {
    padding: 5px;
    font-size: 20px;
    width: max-content;
    border-radius: 5px;
    border: 2px solid black;
    text-decoration: none;
    background-color: #324362;
    color: white;
    transition-duration: 0.4s;
    margin-right: 30px;
}

a:hover {
    background-color: white;
    color: #324362;
    border-radius: 30px;
}

@media (max-width: 768px) {
    body {
        font-size: 100%;
        padding: 0px;
    }

    nav {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .main_div {
        padding: 15px;
        margin: 5px;
        box-shadow: 5px 5px 10px 5px;
        max-width: 90%;
        border-radius: 20px;
    }

    section {
        padding: 20px;
        margin: 20px;
    }

    #skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #skill .main_ul {
        flex-wrap: wrap;
        list-style-type: none;
        flex-direction: column;
        gap: 15px;
    }

    #skill .main_li {
        padding: 10px;
        font-size: 16px;
    }

    p {
        line-height: 1.2;
    }


    li {
        font-size: 16px;
    }

    a {
        padding: 5px;
        font-size: 16px;
        margin-right: 15px; 
        width: fit-content;
    }

    a:hover {
        border-radius: 30px;
    }
}
